.register-container {
  width: 400px;
  margin: 0 auto;
  padding: 60px 40px; /* İç boşluk dengelendi */
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  position: relative;
  top: 50%;
}

h2 {
  text-align: center;
}

form div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  font-size: 1.2rem;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.register-link {
  color: #45a049; /* Mavi renk */
  cursor: pointer; /* Fareyle üzerine gelindiğinde tıklanabilir olduğunu belirten işaret */
}

.register-link:hover {
  color: #45a049; /* Hover durumunda renk değişimi */
}
